body {
  margin: 0;
  overflow: hidden;
  background: black;
}

.cursor-trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  pointer-events: none;
  box-shadow:
    0 0 10px rgb(188, 200, 200),
    0 0 20px rgb(188, 200, 200),
    0 0 40px rgb(188, 200, 200),
    0 0 80px rgb(188, 200, 200);
  z-index: 9999;
  transition: transform 0.05s ease-out;
}

.neon-circle {
  position: absolute;
  background: #0ff;
  border-radius: 50%;
  animation: pulse 2s infinite;
  box-shadow:
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

@keyframes pulse {
  0%, 100% {
    box-shadow:
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 40px #0ff,
      0 0 80px #0ff;
  }
  50% {
    box-shadow:
      0 0 5px #0ff,
      0 0 10px #0ff,
      0 0 20px #0ff,
      0 0 40px #0ff;
  }
}
.neon-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #0ff;
  background: white;
  border: 2px solid #0ff;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  box-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff;
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.neon-button:hover {
  background: #0ff;
  color: white;
  box-shadow:
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}